In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kurilsk,RU,2021-05-24 20:04:33,45.2333,147.8833,40.59,98,100,6.96
1,1,Butaritari,KI,2021-05-24 20:03:24,3.0707,172.7902,76.42,95,100,19.80
2,2,San Cristobal,VE,2021-05-24 20:04:33,7.7669,-72.2250,75.38,94,100,5.32
3,3,Dubrovnik,HR,2021-05-24 20:04:34,42.6481,18.0922,73.04,77,20,10.87
4,4,Pevek,RU,2021-05-24 20:04:34,69.7008,170.3133,31.78,80,100,4.03

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2021-05-24 20:03:24,3.0707,172.7902,76.42,95,100,19.80
2,2,San Cristobal,VE,2021-05-24 20:04:33,7.7669,-72.2250,75.38,94,100,5.32
7,7,Jamestown,US,2021-05-24 20:04:08,42.0970,-79.2353,77.02,59,90,5.01
10,10,Puerto Ayora,EC,2021-05-24 20:04:36,-0.7393,-90.3518,75.54,87,52,8.01
11,11,Albany,US,2021-05-24 20:00:30,42.6001,-73.9662,75.15,37,46,3.49
14,14,Havelock,US,2021-05-24 20:04:39,34.8791,-76.9013,89.58,79,100,4.00
15,15,Salinopolis,BR,2021-05-24 20:04:39,-0.6136,-47.3561,83.17,77,90,13.96
16,16,Guarapari,BR,2021-05-24 20:04:40,-20.6667,-40.4975,76.89,81,71,9.91
17,17,Monaragala,LK,2021-05-24 20:04:40,6.8714,81.3487,75.58,82,100,10.07
20,20,Rikitea,PF,2021-05-24 20:04:42,-23.1203,-134.9692,76.42,82,100,18.92

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1      Butaritari      KI     76.42   3.0707  172.7902
2   San Cristobal      VE     75.38   7.7669  -72.2250
7       Jamestown      US     77.02  42.0970  -79.2353
10   Puerto Ayora      EC     75.54  -0.7393  -90.3518
11         Albany      US     75.15  42.6001  -73.9662
14       Havelock      US     89.58  34.8791  -76.9013
15    Salinopolis      BR     83.17  -0.6136  -47.3561
16      Guarapari      BR     76.89 -20.6667  -40.4975
17     Monaragala      LK     75.58   6.8714   81.3487
20        Rikitea      PF     76.42 -23.1203 -134.9692

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [20]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

{'error_message': 'This API project is not authorized to use this API.',
 'html_attributions': [],
 'results': [],
 'status': 'REQUEST_DENIED'}