## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import sys
import os
import pandas as pd
import requests
import gmaps


# add sys.path to config.py module
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nago,JP,2021-05-28 17:15:15,26.5881,127.9761,overcast clouds,77.45,90,100,8.72
1,1,Awjilah,LY,2021-05-28 17:15:16,29.1081,21.2869,clear sky,97.70,13,1,10.09
2,2,Segezha,RU,2021-05-28 17:15:16,63.7415,34.3222,overcast clouds,45.19,79,93,5.95
3,3,Barrow,US,2021-05-28 17:15:16,71.2906,-156.7887,overcast clouds,30.22,80,90,8.05
4,4,Kodiak,US,2021-05-28 17:15:17,57.7900,-152.4072,overcast clouds,47.71,87,90,4.61

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nago,JP,2021-05-28 17:15:15,26.5881,127.9761,overcast clouds,77.45,90,100,8.72
6,6,Georgetown,MY,2021-05-28 17:15:10,5.4112,100.3354,few clouds,81.90,87,20,1.34
10,10,Buala,SB,2021-05-28 17:15:19,-8.1450,159.5921,light rain,77.45,89,100,4.81
11,11,Arraial Do Cabo,BR,2021-05-28 17:15:19,-22.9661,-42.0278,clear sky,82.26,69,0,13.80
12,12,Mahebourg,MU,2021-05-28 17:15:19,-20.4081,57.7000,scattered clouds,73.26,88,40,3.44
13,13,Rikitea,PF,2021-05-28 17:15:20,-23.1203,-134.9692,broken clouds,73.96,71,69,17.11
18,18,Atuona,PF,2021-05-28 17:15:21,-9.8000,-139.0333,few clouds,79.77,74,17,15.46
19,19,Vilhena,BR,2021-05-28 17:15:21,-12.7406,-60.1458,overcast clouds,86.50,39,90,6.53
23,23,Tezu,IN,2021-05-28 17:15:22,27.9167,96.1667,scattered clouds,74.39,97,25,4.38
25,25,Areia Branca,BR,2021-05-28 17:15:23,-4.9561,-37.1369,overcast clouds,87.12,55,88,14.05

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                281
City                   281
Country                281
Date                   281
Lat                    281
Lng                    281
Current Description    281
Max Temp               281
Humidity               281
Cloudiness             281
Wind Speed             281
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df =  preferred_cities_df[preferred_cities_df.notnull()]
clean_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Current Description,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nago,JP,2021-05-28 17:15:15,26.5881,127.9761,overcast clouds,77.45,90,100,8.72
6,6,Georgetown,MY,2021-05-28 17:15:10,5.4112,100.3354,few clouds,81.90,87,20,1.34
10,10,Buala,SB,2021-05-28 17:15:19,-8.1450,159.5921,light rain,77.45,89,100,4.81
11,11,Arraial Do Cabo,BR,2021-05-28 17:15:19,-22.9661,-42.0278,clear sky,82.26,69,0,13.80
12,12,Mahebourg,MU,2021-05-28 17:15:19,-20.4081,57.7000,scattered clouds,73.26,88,40,3.44
13,13,Rikitea,PF,2021-05-28 17:15:20,-23.1203,-134.9692,broken clouds,73.96,71,69,17.11
18,18,Atuona,PF,2021-05-28 17:15:21,-9.8000,-139.0333,few clouds,79.77,74,17,15.46
19,19,Vilhena,BR,2021-05-28 17:15:21,-12.7406,-60.1458,overcast clouds,86.50,39,90,6.53
23,23,Tezu,IN,2021-05-28 17:15:22,27.9167,96.1667,scattered clouds,74.39,97,25,4.38
25,25,Areia Branca,BR,2021-05-28 17:15:23,-4.9561,-37.1369,overcast clouds,87.12,55,88,14.05

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Nago,JP,77.45,overcast clouds,26.5881,127.9761,
6,Georgetown,MY,81.90,few clouds,5.4112,100.3354,
10,Buala,SB,77.45,light rain,-8.1450,159.5921,
11,Arraial Do Cabo,BR,82.26,clear sky,-22.9661,-42.0278,
12,Mahebourg,MU,73.26,scattered clouds,-20.4081,57.7000,
13,Rikitea,PF,73.96,broken clouds,-23.1203,-134.9692,
18,Atuona,PF,79.77,few clouds,-9.8000,-139.0333,
19,Vilhena,BR,86.50,overcast clouds,-12.7406,-60.1458,
23,Tezu,IN,74.39,scattered clouds,27.9167,96.1667,
25,Areia Branca,BR,87.12,overcast clouds,-4.9561,-37.1369,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Nago,JP,77.45,overcast clouds,26.5881,127.9761,Hotel Yugaf Inn Okinawa
6,Georgetown,MY,81.90,few clouds,5.4112,100.3354,Cititel Penang
10,Buala,SB,77.45,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
11,Arraial Do Cabo,BR,82.26,clear sky,-22.9661,-42.0278,Pousada Porto Praia
12,Mahebourg,MU,73.26,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,Rikitea,PF,73.96,broken clouds,-23.1203,-134.9692,Pension Maro'i
18,Atuona,PF,79.77,few clouds,-9.8000,-139.0333,Villa Enata
19,Vilhena,BR,86.50,overcast clouds,-12.7406,-60.1458,Hotel Mirage
23,Tezu,IN,74.39,scattered clouds,27.9167,96.1667,Circuit House
25,Areia Branca,BR,87.12,overcast clouds,-4.9561,-37.1369,Areia Branca Apart Hotel

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df =  hotel_df[hotel_df["Hotel Name"].notnull()]

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template =  """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))